{%- liquid
  assign settings = section.settings
  assign tag = settings.html_tag | default: 'div'

  assign layout = 'tr-f'
  if settings.layout == 'block'
    assign layout = 'tr-block'
  endif

  # Inner container, boxed or full width
  assign inner_class = 'tr-full'
  if settings.content_width == 'boxed'
    assign inner_class = inner_class | append: ' tr-boxed'
  endif

  # Widget specific style variables, passed to wst-attributes
  capture row_vars
    echo '--wst-direction: ' | append: settings.direction | append: ';'
    if settings.wrap
      echo '--wst-flex-wrap: wrap;'
    endif
    echo '--wst-justify: ' | append: settings.justify | append: ';'
    echo '--wst-align-items: ' | append: settings.align_items | append: ';'
    if settings.gap_row > 0
      echo '--wst-gap-row: ' | append: settings.gap_row | append: 'px;'
    endif
    if settings.gap_column > 0
      echo '--wst-gap-col: ' | append: settings.gap_column | append: 'px;'
    endif
    if settings.content_width == 'boxed'
      echo '--wst-boxed-width: ' | append: settings.content_max_width | append: 'px;'
    endif
  endcapture
-%}

<{{ tag }} class="tr-section {{ inner_class }}" style="{{ row_vars | strip }}">
  {% if section.settings.background_image %}
    <div class="tr-section__background">
      {{ section.settings.background_image | image_url: width: 2000 | image_tag }}
    </div>
  {% endif %}
  <div class="{{ layout }} tr_row {{ row_classes }}">
    {% content_for 'blocks' %}
  </div>
</{{tag}}>

{% schema %}
{
  "name": "Row",
  "blocks": [{ "type": "@theme" }],
  "settings": [
    {
      "type": "select",
      "id": "html_tag",
      "label": "HTML tag",
      "options": [
        {
          "value": "div",
          "label": "Div"
        },
        {
          "value": "section",
          "label": "Section"
        },
        {
          "value": "header",
          "label": "Header"
        },
        {
          "value": "footer",
          "label": "Footer"
        },
        {
          "value": "aside",
          "label": "Aside"
        }
      ],
      "default": "div"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        {
          "value": "flex",
          "label": "Flexible"
        },
        {
          "value": "block",
          "label": "Block"
        }
      ],
      "default": "flex"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "options": [
        {
          "value": "row",
          "label": "Row Horizontal"
        },
        {
          "value": "column",
          "label": "Column Vertical"
        },
        {
          "value": "row-reverse",
          "label": "Row reversed"
        },
        {
          "value": "column-reverse",
          "label": "Column reversed"
        }
      ],
      "default": "row",
      "info": "Applies to flexible layout.",
      "visible_if": "{{ section.settings.layout == 'flex' }}"
    },
    {
      "type": "select",
      "id": "justify_content",
      "label": "Justify Content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "space-between",
          "label": "Space Between"
        },
        {
          "value": "space-around",
          "label": "Space Around"
        },
        {
          "value": "space-evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "justify_content",
      "info": "Applies to flexible layout.",
      "visible_if": "{{ section.settings.layout == 'flex' }}"
    },
    {
      "type": "checkbox",
      "id": "wrap",
      "label": "Allow items to wrap",
      "default": false,
      "info": "Applies to flexible layout.",
      "visible_if": "{{ section.settings.layout == 'flex' }}"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "boxed",
          "label": "Boxed"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "range",
      "id": "content_max_width",
      "label": "Boxed maximum width",
      "min": 600,
      "max": 1980,
      "step": 20,
      "unit": "px",
      "default": 1200,
      "visible_if": "{{ section.settings.content_width == 'boxed' }}"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:labels.background"
    }
  ],
  "presets": [
    {
      "name": "Row"
    }
  ]
}
{% endschema %}
